## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kavieng,PG,-2.5744,150.7967,80.40,86,100,21.14,moderate rain
1,1,Hualmay,PE,-11.0964,-77.6139,70.45,78,87,9.93,overcast clouds
2,2,Torbay,CA,47.6666,-52.7314,35.67,76,90,14.97,overcast clouds
3,3,Nioro,GM,13.3500,-15.7500,84.16,16,97,4.68,overcast clouds
4,4,Harper,LR,4.3750,-7.7169,80.29,82,59,9.82,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("Minimum temperature for your vacation?"))
max_temp = float(input("Maximum temperature for your vacation?"))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

desired_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
desired_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
18,18,Nikolskoye,RU,59.7035,30.7861,10.29,100,93,3.13,overcast clouds
34,34,Upernavik,GL,72.7868,-56.1549,6.82,89,95,7.25,overcast clouds
49,49,Xining,CN,36.6167,101.7667,28.31,39,1,1.19,clear sky
58,58,Tuktoyaktuk,CA,69.4541,-133.0374,12.20,92,90,12.66,overcast clouds
65,65,Iqaluit,CA,63.7506,-68.5145,6.53,77,75,3.00,light snow
...,...,...,...,...,...,...,...,...,...,...
681,681,Aklavik,CA,68.2191,-135.0107,15.80,73,90,10.36,light snow
685,685,Razdolnoye,RU,43.5500,131.9167,10.81,94,25,2.59,scattered clouds
703,703,Sainte-Adele,CA,45.9501,-74.1325,15.42,86,100,7.45,overcast clouds
705,705,Dongsheng,CN,39.8161,109.9776,26.22,52,1,16.11,clear sky
718,718,Baile Herculane,RO,44.8797,22.4125,29.03,92,39,3.94,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.

desired_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

proper_df = desired_cities_df.dropna()
proper_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
18,18,Nikolskoye,RU,59.7035,30.7861,10.29,100,93,3.13,overcast clouds
34,34,Upernavik,GL,72.7868,-56.1549,6.82,89,95,7.25,overcast clouds
49,49,Xining,CN,36.6167,101.7667,28.31,39,1,1.19,clear sky
58,58,Tuktoyaktuk,CA,69.4541,-133.0374,12.20,92,90,12.66,overcast clouds
65,65,Iqaluit,CA,63.7506,-68.5145,6.53,77,75,3.00,light snow
...,...,...,...,...,...,...,...,...,...,...
681,681,Aklavik,CA,68.2191,-135.0107,15.80,73,90,10.36,light snow
685,685,Razdolnoye,RU,43.5500,131.9167,10.81,94,25,2.59,scattered clouds
703,703,Sainte-Adele,CA,45.9501,-74.1325,15.42,86,100,7.45,overcast clouds
705,705,Dongsheng,CN,39.8161,109.9776,26.22,52,1,16.11,clear sky
718,718,Baile Herculane,RO,44.8797,22.4125,29.03,92,39,3.94,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = proper_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,Nikolskoye,RU,10.29,overcast clouds,59.7035,30.7861,
34,Upernavik,GL,6.82,overcast clouds,72.7868,-56.1549,
49,Xining,CN,28.31,clear sky,36.6167,101.7667,
58,Tuktoyaktuk,CA,12.20,overcast clouds,69.4541,-133.0374,
65,Iqaluit,CA,6.53,light snow,63.7506,-68.5145,
72,Finnsnes,NO,19.36,clear sky,69.2296,17.9811,
80,Lisakovsk,KZ,9.14,overcast clouds,52.5369,62.4936,
82,Mason City,US,28.67,broken clouds,43.1536,-93.2010,
89,Ilulissat,GL,7.84,overcast clouds,69.2167,-51.1000,
108,Fort Nelson,CA,6.39,broken clouds,58.8053,-122.7002,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,Nikolskoye,RU,10.29,overcast clouds,59.7035,30.7861,Tourist House - Sablino
34,Upernavik,GL,6.82,overcast clouds,72.7868,-56.1549,Gina's Guesthouse - Upernavik
49,Xining,CN,28.31,clear sky,36.6167,101.7667,Super Leisure Hotel
58,Tuktoyaktuk,CA,12.20,overcast clouds,69.4541,-133.0374,End of The Road Ltd.
65,Iqaluit,CA,6.53,light snow,63.7506,-68.5145,Frobisher Inn

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(25.0, 26.0), zoom_level=1)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))